@{ ViewBag.Title = "About";
                Layout = "~/Views/Shared/_EvenementLayoutPage.cshtml"; }

<section class="service-wrapper py-3">
    <div class="container-fluid pb-3">

    </div>

    <div class="container" style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
        <div class="row">
            <div class="col-md-6" style="flex: 0 0 50%; max-width: 50%;">
                <div class="about-image">
                    <img src="~/images/directeur.jpeg" class="main-img" alt="" style=" width: 70%; border-radius: 5px;">
                    <img src="/assets/images/pattern.png" class="pattern-img" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content">
                    <h4 class="about-title" style="color: rgb(24, 43, 73);line-height: 35px;font-weight: 600;margin-bottom: 25px; font-family: Poppins, sans-serif;">
                        Mot du Directeur : Pr BENKHOUJA Khalil.
                    </h4>
                    <p class="about-para" style="font-size: 15px; color: rgb(150, 150, 150); line-height: 25px; margin-bottom: 40px;">
                        Chers Elèves Ingénieurs, Professeurs, Personnels Administratifs et Partenaires Chers visiteurs du Site Web de l'ENSA Safi Dans le monde d'aujourd'hui, réussir sa carrière professionnelle est la principale préoccupation de nos chers futurs ingénieurs, mais c'est aussi notre ambition, notre challenge et surtout notre raison d'être Pour réussir cette mission, l'ENSA Safi, qui relève de l'Université Cadi Ayyad, n'a d'autres choix que de renforcer son mode de gouvernance par des choix stratégiques qui, au-delà de la technicité, doivent œuvrer pour un apprentissage d'exception et de qualité faisant la différence. Différence apportée par son capital humain, jeune, dynamique, polyvalent et innovant dans les pratiques d'apprentissage. La formation à l'ENSAS permet l'accès à une importante diversité de métiers et de secteurs d'activités avec de très bonnes perspectives de carrière.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

</section>


<section class="banner-bg bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto my-4 p-3">
                <form action="#" method="get">
                    <h1 class="h2 text-center">Soyez à jour avec nous </h1>
                    <div class="input-group py-3">

                        <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="email" placeholder="Your Email" aria-label="Your Email">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4" type="submit">Subsribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
